.product {
    margin: 20px 15px 0 0;
    padding: 10px 10% 10px 2%;
    background-color: #f7f9fa;
    border-radius: 10px;
    transition: outline 0.3s ease-in-out;
    outline: 1px transparent solid;
}

@media (min-width: 1024px){
    .product:hover {
        outline: 1px #ff915e solid;
        cursor: pointer;
        background-color: white;
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (min-width: 640px){
    .productName {
        font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        font-size: 16px;
        max-width: 158px;
        max-height: 46px;
        overflow: hidden;
        margin: 5px 0 0 11%;
        color: #333333;
        text-align: left;
    }
}

@media (max-width: 650px){
    .productName {
        font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
        font-size: 16px;
        max-width: 220px;
        max-height: 70px;
        overflow: hidden;
        margin: 5px 0 0 11%;
        color: #4d4747;
        text-align: left;
    }
}

.productName:hover{
    color: rgb(253,81,2);
}

.price{
    margin: 0 0 0 11%;
    color: #ff5000;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-size: 22px;
    line-height: 22px;
}

.jge{
    margin-right: 4px;
    vertical-align: middle;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    text-align: right;
    color: #ff5000;
    font-size: 20px;
    font-family: "Microsoft Yahei", serif;
}
