.number1{
    --el-color-primary: #ff915e;
    left: 415px;
    top: 33px;
}
.productName1{
    max-width: 470px;
    max-height: 20px;
    overflow: hidden;
    position: absolute;
    left: 160px;
    margin: -65px 0 0 0;
}
.price1{
    position:absolute;
    left: 620px;
    margin: -65px 0 0 60px;
    color: #3c3c3c;
    font-family: Verdana,Tahoma,arial,serif;
}
.cart1{
    margin: 0 20px 0 -25px;
    position: relative;
    background-color: rgb(245,245,245);
    padding: 10px;
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
    outline: 1px transparent solid;
}

.cart1:hover{
    color: rgb(253,81,2);
    outline: 1px #ff915e solid;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.dj{
    display: flex;
}

.vendor{
    margin-right: 20px;
}

.vendor:hover{
    cursor: pointer;
    color: #FF5000;
}

.total1{
    font-family: Verdana,Tahoma,arial,serif;
    color: #f40;
    font-weight: 700;
    position: absolute;
    left: 1070px;
    margin: -65px 0 0 0;
}

.total2{
    font-family: Verdana,Tahoma,arial,serif;
    color: #f40;
    font-weight: 700;
}

.db1{
    margin: 30px 0 0 0;
    display: flex;
    position: relative;
}

.summary{
    padding: 20px;
    background-color: rgb(242,247,255);
    margin: 20px 20px 20px -25px;
}

.size{
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53';
    font-weight: 700;
}

.js{
    padding: 10px 5px 10px 20px;
    border: 3px solid #fff0e8;
    min-width: 230px;
}

.wc{
    margin: 0 0 0 800px;
    text-align: right;
    display: inline-block;
    border: 1px solid #ff0036;
}
