img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

img:hover{
    filter:alpha(Opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.cart{
    position: relative;
    background-color: rgb(245,245,245);
    padding: 10px;
    border-radius: 15px;
    transition: outline 0.3s ease-in-out;
    outline: 1px transparent solid;
}

.selected {
    outline: 1px solid rgb(255,80,0);
    background-color: rgb(255,249,246);
}

.cart:hover{
    color: rgb(253,81,2);
    outline: 1px #ff915e solid;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.price{
    position:absolute;
    left: 220px;
    margin: -65px 0 0 120px;
    color: #3c3c3c;
    font-family: Verdana,Tahoma,arial,serif;
}

.productName{
    position: absolute;
    left: 200px;
    margin: -100px 0 0 0;
}

.description{
    width: 100px;
    position: absolute;
    left: 200px;
    margin: -60px 0 0 0;
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

.number{
    position: absolute;
    left: 470px;
    margin: -60px 0 0 0;
}

.number1{
    width: 100px;
    --el-color-primary: #ff915e;
    position: absolute;
    margin: -10px 0 0 0;
    left: -50px;
}

.time{
    position: absolute;
    left: 570px;
    margin: -15px 0 0 0;
    font-size: 10px;
}

.time1{
    position: absolute;
    left: 570px;
    margin: -15px 0 0 0;
    font-size: 10px;
}

.total{
    font-family: Verdana,Tahoma,arial,serif;
    color: #f40;
    font-weight: 700;
    position: absolute;
    left: 570px;
    margin: -65px 0 0 0;
}

.delete{
    position: absolute;
    right: 20px;
    margin: -70px 0 0 0;
}

.checkout-bar {
    z-index: 100;
    position: absolute;
    left: 10px;
    top: 600px;
    width: 90%;
    height: 40px;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    align-items: center;
    padding: 20px;
}

.checkout-btn {
    background: #f60;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.delete1{
    left: 40px;
    z-index: 200;
    position: absolute;
    bottom: 25px
}

.total-symbol{
    font-size: 14px;
    font-family: verdana,serif;
    font-weight: 400;
    color: #f40;
    font-style: normal;
}

.price-sum{
    color: #f40;
    font-weight: 700;
    font-size: 22px;
    font-family: tohoma,arial,serif;
    font-style: normal;
}

.btn{
    margin: 0 0 0 600px
}

.cz{
    margin: -41px 0 20px 662px;
}

.db{
    width: 730px;
    position: sticky;
    top: -20px;
    z-index: 1000;
    background-color: white;
    height: 30px;
    margin: 0 0 10px -20px;
}

.zj{
    color: rgb(255,80,0);
    width: 100px;
    position: relative;
    top: -62px;
    left: 150px;
}

