.search-container {
    margin: 40px 0 0 0;
    position: relative;
    text-align: center;
}

.sticky {
    padding: 10px 0 0 0;
    position: fixed;
    top: -40px; /* 修改这里的值 */
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index: 100;
}

.search {
    margin: 0 0 0 -70px;
    width: 30%;
    height: 30px;
    border-radius: 100px 0 0 100px;
    border: 2px solid #ffffff;
    padding: 6px 15px;
    color: black;
}

.sticky .search {
    border-color: #FF5000;
}

.search:focus {
    outline: none;
    border-color: #FF5000;
}

.search-button {
    font-size: 18px;
    line-height: 1.5;
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    position: absolute;
    width: 70px;
    height: 46px;
    border-radius: 0 100px 100px 0;
    background-image: linear-gradient(145deg,#ff9000,#ff5000 77%);
    color: #fff;
    border: none;

}

.up{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #8b8c8d;
    border-radius: 10px;
    font-size: 10px;
}

.img{
    border: 1px #FF5000 solid;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.head{
    position: absolute;
    margin: -47px 0 0 75%;
}

.hi{
    position: absolute;
    top: -12px;
    right: -40px;
}

.name{
    text-align: left;
    width: 120px;
    position: absolute;
    top: 15px;
    right: -140px;
}

.name1:hover {
    color: #FF5000;
    cursor: pointer;
}

.ip{
    top: -5px;
    left: 20%;
    position: absolute;
    font-weight: bold;
}

.location{
    top: 5px;
    left: 17%;
    position: absolute;
}

.sticky .location{
    margin: 5px 0 0 -10px;
}

.sticky .ip{
    top: 5px;
}

.el-carousel__item h3 {
    display: flex;
    color: #475669;
    opacity: 0.75;
    margin: 0;
}

.search-placeholder {
    height: 80px;  /* 这里的高度应该与 .sticky 的高度相同 */
}

img{
    width: 100%;
    height: 100%;
}

.sticky-button {
    background-color: white;
    border: none;
    text-align: center;
    display: block;
    font-size: 12px;
    text-decoration: none;
    width: 60px;
    height: 47px;
}

.sticky-button1 {
    color: black;
    background-image: url("http://1.14.126.98:5000/add/TaobaoGWC_20230728_141428873.png");
    display: block;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.sticky-button2 {
    color: black;
    display: block;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    position: absolute;
    right: 0;
}

.cbl{
    box-shadow: -10px 0 10px rgba(197, 176, 176, 0.2), 0 -10px 10px rgba(166, 158, 158, 0.1);
    border-radius: 15px 0 0 15px;
    z-index: 1000;
    padding: 26px 0;
    background-color: white;
    top: 200px;
    right: 0;
    position: fixed;
    width: 60px;
    height: 269px;
}
