.search-container {
    margin: 30px 0 20px 0;
    position: relative;
    text-align: center;
}

.sticky {
    z-index: 1;
    padding: 0;
    position: fixed;
    top: -1px; /* 修改这里的值 */
    left: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

.search {
    margin: 0 0 0 -85px;
    width: 30%;
    height: 30px;
    border-radius: 22px 0 0 22px;
    border: 2px solid #ffffff;
    border-right: none;
    padding: 6px 15px;
    color: black;
}

.sticky .search {
    border-color: #FF5000;
}

.sticky .search-button {
    border: 2px solid #FF5000;
    border-left: none;
}

.search:focus {
    outline: none;
    border-color: #FF5000;
    border-bottom-left-radius: 0;
}

.search-button {
    font-size: 18px;
    font-family: tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    position: absolute;
    width: 70px;
    height: 45.5px;
    border-radius: 0 22px 22px 0;
    background-color: white;
    border: none;

}

.up{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #8b8c8d;
    border-radius: 10px;
    font-size: 10px;
}

.img{
    border: 1px #FF5000 solid;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}

.head{
    position: absolute;
    margin: -57px 0 0 75%;
}

.hi{
    top: -12px;
    right: -40px;
}

.name{
    text-align: left;
    width: 120px;
    position: absolute;
    top: 15px;
    right: -140px;
}

.name1:hover {
    color: #FF5000;
    cursor: pointer;
}

.ip{
    top: -5px;
    left: 20%;
    position: absolute;
    font-weight: bold;
}

.location{
    top: 5px;
    left: 17%;
    position: absolute;
}

.sticky .location{
    margin: 5px 0 0 -10px;
}

.sticky .ip{
    top: 5px;
}

.el-carousel__item h3 {
    display: flex;
    color: #475669;
    opacity: 0.75;
    margin: 0;
}

.search-placeholder {
    height: 80px;  /* 这里的高度应该与 .sticky 的高度相同 */
}

img{
    width: 100%;
    height: 100%;
}

.sticky-button {
    margin-top: -20px;
    background-color: white;
    border: none;
    text-align: center;
    display: block;
    font-size: 12px;
    width: 60px;
    height: 47px;
}

.sticky-button2 {
    color: black;
    display: block;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    position: absolute;
    right: 0;
}

.sticky-button3 {
    border-radius: 15px 0 0 15px;
    color: black;
    display: block;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
}

.sticky-button4 {
    background-color: white;
    border: none;
    text-align: center;
    display: block;
    font-size: 12px;
    text-decoration: none;
    width: 60px;
    height: 47px;
}

.cbl{
    border: 1px solid rgb(209,213,219);
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 15px;
    z-index: 100;
    padding: 0 0 20px 0;
    background-color: white;
    top: 206px;
    right: 0;
    position: fixed;
    width: 60px;
    height: 279px;
}

.cbl2{
    border: 1px solid rgb(209,213,219);
    border-right: none;
    border-radius: 15px 0 0 15px;
    z-index: 100;
    padding: 26px 0 30px 0;
    background-color: white;
    top: 160px;
    right: 0;
    position: fixed;
    width: 60px;
}

/deep/.el-alert {
    --el-alert-padding: 0 0;
    margin: 10px 0 0 0;
    max-width: 200px;
}

.tc{
    height: 10px;
    display: flex;
    padding: 20px 20px 20px 80px;
    transition: background-color 0.3s ease;
}

.tc:hover{
    border-radius: 10px;
    background-color: rgb(254,240,240);
    cursor: pointer;
    color: #f56c6c;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 31.2%;
    padding: 10px;
    width: 35.3%;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000; /* 确保下拉框在最上层 */
    max-height: 612px;
    overflow-y: auto;
    background: #ffffff;
    border: 1px solid #e3e5e7;
    border-top: none;
    border-radius: 0 0 22px 22px;
    -webkit-font-smoothing: antialiased;
}

.dropdown-no-scrollbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 482px;
    padding: 10px;
    width: 535px;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000; /* 确保下拉框在最上层 */
    max-height: 612px;
    overflow-y: auto;
    background: #ffffff;
    border: 1px solid #e3e5e7;
    border-top: none;
    border-radius: 0 0 22px 22px;
    -webkit-font-smoothing: antialiased;
}

.dropdown-item {
    position: relative;
    box-sizing: border-box;
    height: 30px;
    padding: 7px 10px 8px;
    font-size: 12px;
    line-height: 15px;
    background: #f6f7f8;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.clear-history {
    width: 30px;
    font-size: 13px;
    color: #9499a0;
    margin: -18px 0 0 500px;
    text-align: right;
    cursor: pointer;
}

.clear-history:hover {
    color: red;
}

.dropdown-item:hover ~ .remove-button {
    display: block;
}

.remove-button{
    color: white;
    border-radius: 50%;
    background-color: rgb(204,204,204);
    position: absolute;
    top: -10px;
    right: 0;
    cursor: pointer;
    display: none;
}

.remove-button:hover {
    display: block;
}

.dropdown-item:hover {
    color: #FF5000;
    display: block;
}

.history-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 96px;
}

.dropdown-item-wrapper {
    position: relative; /* 使 remove-button 可以相对于它定位 */
}

.search:focus + .search-button {
    border-bottom-right-radius: 0;
    border: 2px solid #FF5000;
    border-left: none;
}

.sticky .dropdown {
    margin: 0 0 0 31.2%;
    width: 35.3%;
}

.dropdown-title {
    font-size: 18px;
    text-align: left;
    margin: 0 0 20px 0;
    width: 100%;
}
